var table_row = '<tr><td>' +
                <%= @post.title %> +
                '</td><td>' +
                <%= @post.author.name %> +
                '</tr>'

$('#listings > tbody:last').append(table_row);
