<%= render 'layouts/search_bar' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Members</h2>
    <%= render 'users/basic_users_table' %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Listings</h2>
    <br>
    <%= render 'posts/basic_posts_table' %>
  </div>
</div>
